body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

form {
  text-align: left;
  margin-left: 15%;
  }

.input {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
}

span {
  width: 30%;
}

form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 3%;
}

.info-add {
  width: 70%;
}

.cat-button {
  width: 28vw;
  font-size: 2em;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: rgb(154, 176, 18);
}

.cat-button:hover {
  border: 2px ridge black;
  background-color: rgb(200, 247, 12);
}

#button-container {
  width: 30vw;
  margin-right: 5vw;
}

.cat-container {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  height: 500px;
  align-items: center;
  margin-left: 12vw;
  text-align: center;

}

.container-style {
  border: 4px solid black;
  border-radius: 15px;
  background: url("paws.jpg");
}

.cat {
  width: 100%;
  max-height: 70%;
  cursor: pointer;
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* This will center the name and the tap-count number */
.name, .count {
  /* color: red; */
  padding-left: 15%;
  padding-right: 15%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(36, 241, 192);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#admin {
  margin-left: 5vw;
  width: 35%;
  height: 50px;
  margin-right: auto;
  font-size: 2em;
  border-radius: 10px;
  border: 1px solid black;
}

#admin:hover {
  background-color: silver;
}

.hide {
  display: none;
}

.buttons {
  cursor: pointer;
  margin-top: 4%;
}

@media screen and (max-width: 600px) {
  .cat-button {
    font-size: 1.3em;
  }
  .name, .count {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 900px) {
  .cat-container {
    width: 30vw;
  }
}
