body {
  text-align: center;
}

#kitten, #kitten {
  width: 40vw;
  height: 500px;
  cursor: pointer;
  margin-bottom: 8px;
}

#kitten:hover {
  border: 4px solid green;
}

#tapCount {
  margin-top: 10vh;
}
