body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#names-container {
  width: 30vw;
}

.cat-container {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 500px;
  align-items: center;
  margin-left: 12vw;
}

.cat {
  width: 100%;
  max-height: 70%;
  cursor: pointer;
  display: block;
}

.name {
  margin-left: 12vw;
}

.count {
  margin-left: 14vw;
}
